
<div class="container pt-6 pb-6">
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link t-24" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Cybercafe capture information
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <ol>
                        <li>
                            Students biometric information. ( i.e Right and Left Thumb). NOTE: You can get a copy of NABTEB Biometric Data Capture Application from nearest NABTEB office.
                        </li><li>
                        Make sure you supply the correct name and passport / registration card alongside PIN and SERIAL when doing the Biometric Data Capture.
                        </li><li>
                        On successful Biometric Data Capture, Proceed t the online Registration Portal to complete the Registration exercise. NOTE: The portal will not allow you to register online without first doing the biometric data capture.
                        </li><li>
                        Fill the form displayed accordingly and submit.
                        </li><li>
                        Print the photocard and registration completion and keep it in a safe place.
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link t-24 collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Steps to get Started
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <p>
                        <a href="">Download examination entry guide 2019 Nov/Dec</a>
                    </p>
                    <p>
                        <a href="">Download examination structure 2019 ANBC/ANTC</a>
                    </p>
                    <p>
                        <a href="">Download examination structure 2019 NBC/NTC</a>
                    </p>
                    <ol>
                        <li>
                            Make sure your passport is 160px by 200px and size is less than 30kb
                        </li><li>
                            Click on the 'Start Here' link
                        </li><li>
                            Fill in the PIN, and serial number gotten from the purchased scratch card
                        </li><li>
                            Fill the form displayed and submit
                        </li><li>
                            Write down your Candidate Number in a safe place
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link t-24 collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Things not to do on the Portal
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <ul>
                        <li>
                            Do not use a card that has already been used for another candidate
                        </li>
                        <li>
                            Do not enter an invalid e-mail address for result to be sent as this will penalize you by deducting your card use
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

