<section class="sub-header">
    <div class="container">
        <h4 class="text-center">Approved Audited Account</h4>
        <div class="row justify-content-center pt-4 pb-4 text-center">
            <div class="col-lg-16">
                <div class="row">
                    <div class="col-8">
                        <div style="border-radius:12px;padding:10px;margin-bottom: 30px" class="text-center shadow">
                            <p style="vertical-align: middle">
                                <span class="text-color-yellow">DOWNLOAD</span>
                                STATEMENT OF FINANCIAL
                                POSITION 2018
                            </p>
                        </div>
                    </div><div class="col-8">
                        <div style="border-radius:12px;padding:10px" class="text-center shadow">
                            <p style="vertical-align: middle">
                                <span class="text-color-yellow">DOWNLOAD</span>
                                STATEMENT OF FINANCIAL
                                POSITION 2018
                            </p>
                        </div>
                    </div><div class="col-8">
                        <div style="border-radius:12px;padding:10px" class="text-center shadow">
                            <p style="vertical-align: middle">
                                <span class="text-color-yellow">DOWNLOAD</span>
                                STATEMENT OF FINANCIAL
                                POSITION 2018
                            </p>
                        </div>
                    </div><div class="col-8">
                        <div style="border-radius:12px;padding:10px" class="text-center shadow">
                            <p style="vertical-align: middle">
                                <span class="text-color-yellow">DOWNLOAD</span>
                                STATEMENT OF FINANCIAL
                                POSITION 2018
                            </p>
                        </div>
                    </div><div class="col-8">
                        <div style="border-radius:12px;padding:10px" class="text-center shadow">
                            <p style="vertical-align: middle">
                                <span class="text-color-yellow">DOWNLOAD</span>
                                STATEMENT OF FINANCIAL
                                POSITION 2018
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-6">
            <div class="col pr-4">
                <h3>ISO Certification</h3>
                <p>23 November 2015</p>
                <p>Premium Pension Becomes First Fund Manager To Receive ISO Certification</p>
                <img src="/images/iso.png" />
            </div>
            <div class="col p-4" style="border-left: 1px  solid #ccc;border-right: 1px  solid #ccc;">
                <h3>Nigeria Social Insurance Trust Fund (NSITF)</h3>
                <img src="/images/nsitf.png" />
            </div><div class="col">
            First
        </div>
        </div>
    </div>
</section>
