<section class="sub-header">
    <div class="container">
        <div class="row justify-content-center pt-4 pb-4">
            <div class="col-lg-16">
                <div class="bg-yellow text-color-white p-6 br-4 shadow" style="margin-bottom: -200px;position:relative;z-index:200">
                    <h3 class="text-color-white">Account Information<br/>
                        for Contribution Payments</h3>
                    <p>
                        Kindly send electronic copy of the CONTRIBUTION SCHEDULE to
                        <a href="mailto:csu@premiumpension.com" style="color:white">csu@premiumpension.com</a>
                        as soon as payment is made to the bank.
                    </p>
                    <p>
                        <a href="#" style="color: white"> > GET INFORMATION</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
