<footer style="" class="pt-6">
    <div class="container">
        <div class="row justify-content-between" style="padding: 10px 0; padding-bottom: 20px">
            <div class="col-lg-6 text-center text-lg-left order-1 order-xs-2 d-flex" style="flex-direction: column;
                align-items: center">
                <h3 class="footer-h">Company</h3>
                <nav  class="">
                    <ul id="menu-footer" class="nav nav-footer flex-column">
                        <li  class="">
                            <a href="/history/index.html" class="">Overview</a></li>
                        <li class="">
                            <a href="/history/index.html" class="">About Us</a></li>
                        <li class="">
                            <a href="/leadership/index.html" class="">
                                Our Team
                            </a>
                        </li>
                    </ul>
                </nav>
            </div><div class="col-lg-6 text-center text-lg-left order-1 order-xs-2 d-flex" style="flex-direction: column; align-items: center">
                <h3 class="footer-h">Company</h3>
                <nav  class="">
                    <ul id="menu-footer" class="nav nav-footer flex-column">
                        <li  class="">
                            <a href="/history/index.html" class="">Overview</a></li>
                        <li class="">
                            <a href="/history/index.html" class="">About Us</a></li>
                        <li class="">
                            <a href="/leadership/index.html" class="">
                                Our Team
                            </a>
                        </li>
                    </ul>
                </nav>
            </div><div class="col-lg-6 text-center text-lg-left order-1 order-xs-2 d-flex" style="flex-direction: column; align-items: center">
                <h3 class="footer-h">Company</h3>
                <nav  class="">
                    <ul id="menu-footer" class="nav nav-footer flex-column">
                        <li  class="">
                            <a href="/history/index.html" class="">Overview</a></li>
                        <li class="">
                            <a href="/history/index.html" class="">About Us</a></li>
                        <li class="">
                            <a href="/leadership/index.html" class="">
                                Our Team
                            </a>
                        </li>
                    </ul>
                </nav>
            </div><div class="col-lg-6 text-center text-lg-left order-1 order-xs-2 d-flex" style="flex-direction: column; align-items: center">
                <h3 class="footer-h">Company</h3>
                <nav  class="">
                    <ul id="menu-footer" class="nav nav-footer flex-column">
                        <li  class="">
                            <a href="/history/index.html" class="">Overview</a></li>
                        <li class="">
                            <a href="/history/index.html" class="">About Us</a></li>
                        <li class="">
                            <a href="/leadership/index.html" class="">
                                Our Team
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <span id="toTop" class="toTop" onclick="window.scrollTo({top: 0,left: 0,behavior: 'smooth'})">
                <img src="/images/toTop.svg" class="img-fluid">
            </span>
        </div>
    </div>
    <div class="copyright hide-xs" style="padding: 24px">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-lg-18">
                    <ul class="nav justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Active</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                        </li>
                    </ul>
                    <div class="text-right">©2019 {{ site.title }}. All Rights Reserved.</div>
                    <div class="text-right">
                            <a href="#" target="_blank" class="p-1">
                                <span class="social twitter circle">Twitter</span>
                            </a>
                            <a href="https://www.linkedin.com/in/aadesina/" target="_blank" class="p-1">
                                <span class="social linkedin circle">LinkedIn</span>
                            </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
