<section class="sub-header">
    <div class="container text-color-white">
        <div class="row pt-4 pb-4">
            <div class="col">
                <div style="height: 300px;">
                    <h3 class="">Latest News</h3>
                </div>
            </div><div class="col-lg-18">
                <div class="row">
                    <div class="col">
                        <div class="text-color-white" style="width:350px;position: relative;border-radius:16px">
                            <h5 style="position:absolute;width: 100%;height: 100%;z-index: 200;background: rgba(0,0,0,0.4);color:white;padding:15px;vertical-align: bottom;">
                            <span style="bottom: 20px;position: absolute;left: 0;padding: 15px;">
                                Premium pension celebrates night of excellence.
                            </span>
                            </h5>
                            <p>May 6, 2019</p>
                            <img src="/images/laptop.png" class="img-fluid"/>
                        </div>
                    </div><div class="col">
                        <div class="text-color-white" style="width:350px;position: relative;border-radius:16px">
                            <h5 style="position:absolute;width: 100%;height: 100%;z-index: 200;background: rgba(0,0,0,0.4);color:white;padding:15px;vertical-align: bottom;">
                            <span style="bottom: 20px;position: absolute;left: 0;padding: 15px;">
                                Premium pension celebrates night of excellence.
                            </span>
                            </h5>
                            <p>May 6, 2019</p>
                            <img src="/images/laptop.png" class="img-fluid"/>
                        </div>
                    </div>
                </div>
        </div>
        </div>
    </div>
</section>
