<section class="sub-header">
    <div class="sub-header bg-purple-700 p-6" style="background: radial-gradient(circle,hsl(0, 0%, 0%) 40%, hsla(0, 0%, 0%, 0) 20%);
    background-size: 270px; background-repeat: no-repeat;background-position: center">
        <div class="container text-color-white">
            <div class="row justify-content-between">
                <div style="">
                    <h3 class="pt-2 text-color-white">Pension Calculator</h3>
                </div>
                <div style="">
                    <a href="#" class="btn btn-yellow mr-2 mb-3">
                        Learn More
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-20 p-8">
            <img src="/images/numbers.jpg" class="img-fluid d-inline-block" style="margin-top: -80px;margin-right: -80px;vertical-align:unset;z-index:300;position:relative"/>
            <div class="d-inline-block shadow" style="background: white;width:500px;height:500px;margin-bottom:-40px"></div>
        </div>
    </div>
</section>
