<section class="sub-header" style="background: linear-gradient(90deg, blue 50%, black 50%)">
    <div class="container text-color-white">
        <div class="row pt-4 pb-4">
            <div class="col">
                <div style="height: 300px;padding:50px">
                    <h3 class="text-color-white">For RSA Holders</h3>
                    <ul>
                        <li>Your account</li>
                        <li>Planing of retirement</li>
                        <li>Existing Contributor Recapture Form</li>
                    </ul>
                </div>
            </div><div class="col">
                <div style="height: 300px;padding:50px;position: relative">
                    <h3 class="text-color-white" style="position:absolute; bottom: 20px">Online Customer Self Service <br />Account Login</h3>
                </div>
            </div>
        </div>
    </div>
</section>
